* {
  padding: 0;
  margin: 0;
}

.wrapper {
  font-family: Arial, sans-serif;
  color: #222;
  background-color: #fdf0d5;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}

.container {
  background-color: #669bbc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: -5px 9px 24px 0px rgba(66, 68, 90, 1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.section-heading {
  margin: 10px;
}

.amount-input {
  width: 100px;
  margin: 5px;
  border: 1px solid #003049;
  border-radius: 5px;
  padding: 4px;
  background-color: #fff9ec;
  color: #003049;
  box-shadow: 2px 2px 6px 0px rgba(66, 68, 90, 1);
}

.currency-list {
  padding: 3px;
  margin: 5px;
  border: 1px solid #003049;
  border-radius: 5px;
  background-color: #fff9ec;
  color: #003049;
  box-shadow: 2px 2px 6px 0px rgba(66, 68, 90, 1);
}

.button-submit {
  padding: 4px;
  margin: 5px;
  border: 1px solid #003049;
  border-radius: 5px;
  background-color: #fff9ec;
  color: #003049;
  box-shadow: 2px 2px 6px 0px rgba(66, 68, 90, 1);
}

.total-result {
  margin: 5px;
  font-weight: 600;
}

.error-label {
  font-weight: 600;
  color: #780000;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 #780000, 24px 0 #fff;
  }
  66% {
    background: #780000;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #780000;
  }
}
